.contenedor-tarjeta-carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta-carrito{
    display: flex;
    background: linear-gradient(to right, #ebeef3, #adbbcc);
    width: 95%;
    min-height: 50px ;
    margin: 15px;
    padding: 10px;
    border: 2px solid rgb(209, 206, 206);
    border-radius: 10px;
}

.tarjeta-carrito h2 {
    margin: auto;
    font-size: 15px;
    width: 150px;
    overflow-wrap: anywhere;
}

.tarjeta-carrito img {
    width: 100px;
    border-radius: 10px;
}

.tarjeta-carrito p{
    margin: auto;
}

.tarjeta-carrito button{
    margin: auto;
    width: 30px;
    border-radius: 10px;
}

.carrito-botones-disco {
    display: flex;
    margin: 5px;
    width: 100px;
}

.carrito-botones-disco button {
    height: 30px;
}

.boton-borrar-producto {
    height: 30px;
}