.carrito-totales{
    display: flex;
    flex-direction: column;
}

.botones-carrito{
    display: flex;
    justify-content: center;
    padding: 20px;
    text-decoration: none;
}

.botones-carrito button{
    width: 150px;
    height: 50px;
    margin: 10px;
}
