.contenedor-de-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.contenedor-de-botones button {
    margin: 5px;
    width: 24px;
}

.contenedor-de-botones p {
    width: 24px;
}

.boton-agregar button{
    margin: 5px;
    width: 100px;
}