.barra-de-navegacion {
    margin: 25px;
    text-align: center;
}

.barra-de-navegacion nav {
    display: flex;
    align-items: center;
}

.links-de-navegacion{
    display: flex;
    justify-content: flex-start;
    max-width: 600px;
}

.links-de-navegacion a {
    margin: 10px;
    text-decoration: none;
    color: #212730;
    font-family: "Rock Salt", cursive; 
}

.active {
    background: linear-gradient(to right, #ebeef3, #adbbcc);
    width: 150px;
    border-radius: 20px;
}